* {
  margin: 0;
  padding: 0;
  font-family: 'Manjari', sans-serif;
}

body {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 100px;
}

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: white;
}

.nav-left {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 10vh;
  width: 50vh;
  margin-left: 1vw;
  font-size: 2em;
}

.nav-logo  {
  height: 9vh;
  widows: 9vh;
}

.nav-name {
  color: black;
  margin: 1.5vh 0 0 0;
}

.nav-name:hover {
  color: #4f81bd;
  transition: color .15s linear;
}

.nav-right {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  height: 10vh;
  margin: 4.5vh 15px;
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  height: 10vh;
  margin: 4.5vh 15px;
  color: #4f81bd;
  transition: color .15s linear;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 60vh;
  opacity: 0.8;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,.25);
  background: url(imgs/labwork.jpg) beige;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-blurb {
  width: 50vw;
  margin-left: 20vw;
  font-size: 3em;
  font-weight: 900;
  color: white;
}

.header-content {
  width: 30vw;
  margin-left: 20vw;
  font-size: 1.8em;
  font-weight: 900;
  color: white;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 50vw;
}



/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.footer-blurb {
  font-size: .9em;
  color: black;
  margin: 5px;
}

hr {
  height: 1em;
  border: .5px solid black;
}