* {
  margin: 0;
  padding: 0;
  font-family: 'Manjari', sans-serif;
}

body {
  background-color: beige;
  background-repeat: no-repeat;
  background-position: 100px;
}

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: white;
  box-shadow: 0px 0px 5px 5px #BABABA;
}

.nav-left {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 10vh;
  width: 50vh;
  margin-left: 1vw;
  font-size: 2em;
}

.nav-logo  {
  height: 9vh;
  widows: 9vh;
}

.nav-name {
  color: black;
  margin: 1.5vh 0 0 0;
}

.nav-name:hover {
  color: #4f81bd;
  transition: color .15s linear;
}

.nav-right {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  height: 10vh;
  margin: 4.5vh 15px;
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  height: 10vh;
  margin: 4.5vh 15px;
  color: #4f81bd;
  transition: color .15s linear;
}
/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  opacity: 0.7;
  background: url(imgs/medicine.jpg) beige;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-blurb {
  text-align: center;
  width: 50vw;
  font-size: 3em;
  font-weight: 900;
  color: black;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
}